
.page {
    height: 100vh
}

.page-20 {
    height: 20vh
}

.page-30 {
    height: 30vh
}

.grad {
    background-image: linear-gradient(to bottom right, #04f, #002);
}

.dbnet {
    color:#fff; font-style:italic; font-size:48px; font-weight: bolder;
}

.blurb {
    color:#fff; font-style:italic; font-size:24px; font-weight: normal;
}

.skill {
    color:#fff; font-size:18px; font-weight: normal;
}

.phone {
    color:#fff; font-style:italic; font-size:16px; font-weight: normal;
}
