
.page {
    height: 100vh
}

.grad {
    background-image: linear-gradient(to bottom right, #00f, #004);
}

.dbnet {
    color:#fff; font-style:italic; font-size:48px; font-weight: bolder; font-family: Arial;
}

.blurb {
    color:#fff; font-style:italic; font-size:18px; font-weight: normal; font-family: Arial;
}

.phone {
    color:#fff; font-style:italic; font-size:16px; font-weight: normal; font-family: Arial;
}
